<%- include('partials/header') -%>

<main class="container">
    <div class="row mt-5">
        <div class="card" style="width: 20rem; margin-left: 3rem; background-color: antiquewhite;">
          <div class="card-body">
           <div class="card-header text-saddlebrown mb-5">
            <h5 class="card-title">Please Login Or Signup To See And Post Content</h5>
           </div>
            <a href="/login" class=" btn btn-outline-primary"> Login</a>
            <a href="/signup" class=" btn btn-outline-primary"> Signup</a>
          </div>
        </div>
    </div>
    <div class="row">
    <img id="mainimg" src="/imgs/bowlocrumbs.jpg" class="img-fluid" alt="a bowl of breadcrumbs">
    </div>
  </div>
</main>
    

<%- include('partials/footer') -%>